@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header section style  */
#logo{
    width: 7.8rem;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    /* background-color: red; */
    padding: 0  1.5rem 0 1.5rem;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: rgba(0, 0, 0, 0.72);

}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
header{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 1rem;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #555;
}
#cart_img{
    width: 1.875rem;
    height: 1.875rem;
}
p{
    color: #555;
}
/* banner section style  */
.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cols{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex-basis: 50%;
    padding: 2rem;
    /* min-width: 300px; */
}
.cols h1{
    width: 25rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff5234;
}
#banner_img{
    max-width: 100%;
    padding: 3.125rem 0;
}

#btn{
    width: 10rem;
    text-align: center;
    text-decoration: none;
    background-color: #ff5234;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: background .5s ease-in-out;
}

#btn:hover{
    background: #ae6356;
}


/* category section style  */
.categories{
    margin: 4rem;
    
}

.category-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
}

.cat-col{
    flex-basis: 33.33%;
}
.cat-col img{
    width: 100%;
    object-fit: cover;
}


/* product section style  */
.products{
    margin: 4rem 0  2rem 0;
    
}

.product-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding-left: 1.56rem;
    padding-right: 1.56rem;

}
.product-col{
    flex-basis: 20%;
    text-align: center;
    transition: transform 0.5s;
}
.product-col:hover{
    transform: translateY(-5px);
}
.rating i{
    color: #ff5234;
}
.product-col img{
    width: 100%;
    object-fit: cover;
}


/* offer section style  */
.offer-section{
    margin: 4rem  0 3rem 0;
    background: radial-gradient(#fff,#ffd6d6);

}

.offer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding-left: 1.56rem;
    padding-right: 1.56rem;   
}

.offer-col{
    flex-basis: 50%;
    text-align: center;
    transition: transform 0.5s;
    text-align: left;
    padding: 2.5rem;
}

.offer-col img{
    width: 100%;
}

.offer-col p{
    width: 100%;
}

#offer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.offer-col h3{
    color: #555;
    text-transform: capitalize;
    /* margin-bottom: 1.5rem; */
}

.offer-col h1{
    font-size: 3rem;
    /* margin-bottom: 1.5rem; */
}


/* testimonial section style  */
.testimonial-section{
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.test-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding-left: 1.56rem;
    padding-right: 1.56rem;   
    /* padding: 4rem; */
}

.test-col{
    flex-basis: 25%;    
    text-align: center !important;
    transition: transform 0.5s;
    text-align: left;
    padding: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    cursor: pointer;
}

.test-col:hover{
    transform: translateY(-10px);
}
.test-col p{
    color: #777;
}
.test-col h3{
    margin: 1rem 0;
    font-size: 1rem;
    color: #555;
}
.test-col img{
    width: 20%;
    margin-top: 2rem;
    border-radius: 50%;
}
#qoute_left{
    color: #ff5234;
    font-size: 2rem;
}


/* style brand section  */
.brand-section{
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.brand-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding-left: 1.56rem;
    padding-right: 1.56rem;   
    /* padding: 4rem; */
}

.brand-col img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.brand-col img:hover{
    filter: grayscale(0);
}


/* style footer section  */
footer{
    margin-top: 4rem;
    background-color: #000;
    height: 350px;
}
footer p{
    text-align: center;
    color: #ff5234;
}
.footer-row{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
    margin: auto;
    /* padding-left: 1.56rem;
    padding-right: 1.56rem;    */
    padding: 4rem;
    
}

.footer-col{
    width: 25%;
    color: #fff;
}

.footer-col .apps-img{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-col h4{
    font-weight: 500;
    color: #ff5234;
    text-transform: capitalize;

}
.footer-col ul{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer-col h3{
    text-transform: capitalize;
}
.footer-col p{
    color: #fff;
}
.footer-col ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
}

.footer-col ul li a:hover{
    color: #ff5234;
}

.footer-col img{
    width: 50%;
    cursor: pointer;
    /* filter: grayscale(100%); */
}

.footer-col  .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.footer-col .social-links i{
    font-size: 1.5rem;
    color: #ff5234;
}
.footer-col .social-links a{
    text-decoration: none;
    transition: transform .5s;
    
}
.footer-col .social-links a:hover{
    transform: translateY(-5px);
    
}


/* responsive */
/* for mobile  */

@media screen and (max-width:576px){
    
    #logo{
        width: 7.8rem;
    }
    .wrapper{
        /* max-width: 1300px; */
        width: 100%;
        margin: 0 auto;
        /* background-color: red; */
        padding: 0  1.5rem 0 1.5rem;
    }
    .title{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        color: rgba(0, 0, 0, 0.72);
    
    }
    .header{
        width: 100%;
        background: radial-gradient(#fff,#ffd6d6);
    }
    header{
        width: 100%;
        flex-direction: column;
    }
    
nav ul{
    flex-direction: column;
}

.cols{
    flex-basis: 100%;
    text-align: center;
}
.cols h1{
    width: 100%;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff5234;
}
#banner_img{
    max-width: 100%;
}

#btn{
    margin: 0 auto;
}

.category-row{
    flex-direction: column;
}
.cat-col img{
    width: 100%;
}

.product-row{
    flex-direction: column;
}

.offer-row{
    flex-direction: column-reverse;
}
.offer-col{
    width: 100%;
    text-align: center;
}
.test-row{
    flex-direction: column;
}
.test-col{
    flex-basis: 100%;
}

.brand-row{
    flex-direction: column;
}
.brand-col img{
    width: 100%;
}

footer{
    height: auto;
    
}
.footer-row{
    margin: 0 auto;
    flex-direction: column;
    gap: 3rem;
}
.footer-col{
    text-align: center;
    width: 100%;
}

footer p{
    padding-bottom: 1.5rem;
}

}

@media screen and (max-width:768px){
    .test-col{
        flex-basis: 50%;

    }
    footer{
        height: auto;
    }
    footer p{
        padding-bottom: 2rem;

    }
    
}

