@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header section style  */
#logo{
    width: 7.8rem;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    /* background-color: red; */
    padding: 0  1.5rem 0 1.5rem;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: rgba(0, 0, 0, 0.72);

}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
header{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 1rem;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #555;
}
#cart_img{
    width: 1.875rem;
    height: 1.875rem;
}
p{
    color: #555;
}
/* banner section style  */
.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cols{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex-basis: 50%;
    padding: 2rem;
    /* min-width: 300px; */
}
.cols h1{
    width: 25rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff5234;
}
#banner_img{
    max-width: 100%;
    padding: 3.125rem 0;
}

#btn{
    width: 10rem;
    text-align: center;
    text-decoration: none;
    background-color: #ff5234;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: background .5s ease-in-out;
}

#btn:hover{
    background: #ae6356;
}


/* category section style  */
.categories{
    margin: 4rem;
    
}

.category-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
}

.cat-col{
    flex-basis: 33.33%;
}
.cat-col img{
    width: 100%;
    object-fit: cover;
}


/* product section style  */
.products{
    margin: 4rem 0  2rem 0;
    
}

.product-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding-left: 1.56rem;
    padding-right: 1.56rem;

}
.product-col{
    flex-basis: 20%;
    text-align: center;
    transition: transform 0.5s;
}
.product-col:hover{
    transform: translateY(-5px);
}
.rating i{
    color: #ff5234;
}
.product-col img{
    width: 100%;
    object-fit: cover;
}


/* offer section style  */
.offer-section{
    margin: 4rem  0 3rem 0;
    background: radial-gradient(#fff,#ffd6d6);

}

.offer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding-left: 1.56rem;
    padding-right: 1.56rem;   
}

.offer-col{
    flex-basis: 50%;
    text-align: center;
    transition: transform 0.5s;
    text-align: left;
    padding: 2.5rem;
}

.offer-col img{
    width: 100%;
}

.offer-col p{
    width: 100%;
}

#offer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.offer-col h3{
    color: #555;
    text-transform: capitalize;
    /* margin-bottom: 1.5rem; */
}

.offer-col h1{
    font-size: 3rem;
    /* margin-bottom: 1.5rem; */
}